body {
    margin: 0px;
}

.overall-container {
    height: 250vh;
    width: 100vw;
    /* border: 2px solid #006379; */
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* background-image: url("../images/test.jpg"); */
}

.overall-container-profile {
    height: 100vh;
    width: 100vw;
    /* border: 2px solid #006379; */
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* background-image: url("../images/test.jpg"); */
}

.overall-percent {
    height: 100%;
    width: 100%;
    /* border: 2px solid darkviolet; */
    box-sizing: border-box;
    background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg);
    background-size: cover;
    /* Set the background image to cover the entire area */
    /* background-image: url(../images/beautiful-shot-blue-purple-sky-filled-with-starts\ \(2\).jpg); */
    /* background-color: black; */
}

.overall-percent-adbc{
    height: 100%;
    width: 100%;
    border: 2px solid darkviolet;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.center-container-about {
    /* border: 2px solid #db435e; */
    height: 87%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    background-color: black;
    color: white;
    background-image: url("../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg");
    background-size: 31%;
    background-blend-mode: overlay;
    background-color:#000000a1 ;
}

.overall-container-about {
    height: 190vh;
    width: 100vw;
    /* border: 2px solid #006379; */
    box-sizing: border-box;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    /* background-image: url("../images/test.jpg"); */
}


/* .overall-percent-terms {
    height: 100%;
    width: 100%;
    /* border: 2px solid darkviolet; */
    /* box-sizing: border-box;
    background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg);
    background-size: cover; */
    /* Set the background image to cover the entire area */
    /* background-image: url(../images/beautiful-shot-blue-purple-sky-filled-with-starts\ \(2\).jpg); */
    /* background-color: black; */
/* } */ 

/* .heading { */
    /* border: 2px solid #db435e; */
    /* height: 11%;
    width: 100%;
    display: flex; */
    /* flex-direction: row; */
    /* justify-content: center;
    align-items: center;
    padding-left: 88%; */
    /* background: #0b0e12d1; */
/* } */
.heading {
    height: 5%;
    width: 100%;
    /* position: sticky; */
    top: 0px;
    z-index: 1000; /* Higher z-index to keep it above other content */
    background-color: #000000d1;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

.logo {
    /* border: 2px solid yellow; */
    height: 100%;
    width: 12%;
    padding-left: 9px;
    padding-bottom: 5px;
}
.logo-fit{
    object-fit: contain;
    cursor: pointer;
}
.logo-fit-header{
    padding-left: 9px;
    height: 37px;
    width: 135px;
    cursor: pointer;
}
.centre-space {
    /* border: 2px solid yellow; */
    height: 100%;
    width: 75%;
}
.signin-login {
    /* border: 2px solid yellow; */
    height: 100%;
    width: 22%;
    display: flex;
    flex-direction: row;
}
.semi-space-login{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-right: 33px;
}
.semi-space-reg{
    /* border: 2px solid yellow; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 50px;

}

.signout-btn:hover {
    background-color: #0d6efd;
    color: white;
}

.close-btn:hover{
    background-color: #0d6efd;
}


.signout-btn{
    height: 33px;
    border-radius: 10px
}

.reg-btn:hover{
    color: #0dcbfd;
}
.reg-btn{
color: white;
}

.double-container-banner {
    /* border: 2px solid #db435e;  */
    height: 32%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    /* background-image: url("../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg"); */
    object-fit: cover;
    background-color: #000203;
}

/* .double-container-banner-home {
    border: 2px solid #db435e; 
    height:40%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #0e120f;
    background-image: url("../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg");

} */

.double-container-banner-home {
    /* position: relative; */
    /* border: 2px solid #db435e; */
    height: 40vh;
    /* Adjust the height as needed */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;
    /* Hide any overflow from the parallax background */
}

.double-container-banner-home::before {
    content: "";
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg");
    background-size: cover;
    /* background-position: center; */
    /* Adjust the opacity as needed */
    transform: translateZ(-1px) scale(1.5);
    /* Parallax effect */
    transition: transform 0.5s ease-out;
    /* Smooth transition for the parallax effect */
}

.double-container-banner-home:hover::before {
    transform: translateZ(-1px) scale(1.2);
    /* Parallax effect on hover */
}

/* Rest of your existing styles */

.double-container-signup {
    /* border: 2px solid #db435e;  */
    height: 38%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #113048;
    /* background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg) ; */
}

.double-container-popup {
    border: 2px solid blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000017;
    height: 300px;
    width: 100%;
}

.double-container-boxes {
    /* border: 2px solid #db435e;  */
    height: 33%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #0e0a2b;
}

.boxes1 {
    border: 2px solid cadetblue;
    height: 40%;
    width: 30%;
    border-radius: 30px;
}

.boxes2 {
    border: 2px solid cadetblue;
    height: 40%;
    width: 30%;
    border-radius: 30px;
}

.boxes3 {
    border: 2px solid cadetblue;
    height: 40%;
    width: 30%;
    border-radius: 30px;
}

.boxes4 {
    border: 2px solid cadetblue;
    height: 40%;
    width: 30%;
    border-radius: 30px;
}

.boxes5 {
    border: 2px solid cadetblue;
    height: 40%;
    width: 30%;
    border-radius: 30px;
}

.boxes6 {
    border: 2px solid cadetblue;
    height: 40%;
    width: 30%;
    border-radius: 30px;
}

.zoom-container {
    /* width: 300px; 
    height: 200px;  */
    overflow: hidden;
    /* Hide any overflow of the image */
    position: relative;
    /* Create a stacking context for the child elements */
}

.zoom-container img {
    /* width: 100%;
    height: 100%; */
    transition: transform 0.3s ease;
    /* Add a smooth transition on transform */
}

.zoom-container:hover img {
    transform: scale(1.1);
    /* Zoom-in by 10% on hover (adjust the value to your liking) */
}


.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    /* Initial scale set to 1 */
    color: white;
    font-size: 19px;
    text-align: center;
    opacity: 1;
    border: 2px solid transparent;
    /* Transparent border initially */
    padding: 10px;
    /* Add some padding to the text */
    transition: transform 0.3s ease, border-color 0.3s ease;
    /* Add smooth transitions for zoom and border */
}

.zoom-container:hover .centered-text {
    transform: translate(-50%, -50%) scale(1.2);
    /* Scale the text on hover */
    border-color: rgb(253, 174, 174);
    /* Change the border color on hover to cover the text */
    border-radius: 6px;
    background-color: darkcyan;
}





.container-one {
    /* border: 2px solid black; */
    height: 95%;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-two {
    /* border: 2px solid black; */
    height: 95%;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.janmadinam-brief-heading {
    border: 2px solid darkolivegreen;
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.janmadinam-brief {
    /* border: 2px solid darkolivegreen; */
    height: 77%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.login-box {
    /* border: 2px solid #58bc71;  */
    height: 95%;
    width: 75%;
    border-radius: 13%;
    /* background: #43a3db47; */
}
.login-box-popup {
    /* border: 2px solid #58bc71;  */
    height: 95%;
    width: 75%;
    border-radius: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background: #43a3db47; */
}

.login-box-janma {
    /* border: 2px solid #0e120f;  */
    height: 95%;
    width: 85%;
    border-radius: 13%;
    background: #43a3db47;
}

.login-heading {
    /* border: 2px solid rgb(190, 242, 244); */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.google-login {
    /* border: 2px solid cadetblue; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}

.email-input {
    /* border: 2px solid red; */
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email-input-popup {
    /* border: 2px solid red; */
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-hider {
    padding-left: 8%;
}

.input-font {
    height: 100%;
    width: 80%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #2e2e2e;
    color: white;
}



.password-heading {
    /* border: 2px solid cadetblue; */
    height: 7%;
    width: 100%;
    padding-left: 5%;
}

.password-input-style {
    /* border: 2px solid red; */
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-input-style-popup {
    /* border: 2px solid red; */
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-input {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-password {
    /* border: 2px solid mediumslateblue; */
    height: 10%;
    width: 100%;
    padding-left: 13%;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*  */
.sumbit-button {
    /* border: 2px solid red; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.new-signup {
    /* border: 2px solid rgb(248, 248, 248); */
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.new-here {
    /* border: 2px solid rgb(238, 236, 232); */
    height: 100%;
    width: 74%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.letters-color-newhere {
    color: cornsilk;
    font-family: cursive;
    font-size: small;
}
.letters-color-showpassword{
    color: cornsilk;
    font-family: cursive;
    font-size: small;
}

.sign-up {
    /* border: 2px solid rgb(239, 237, 234); */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-left: 3%;

}

.sign-in-btn:enabled {
    background-color: #239ea67a;
    color: ghostwhite;
    height: 28px;
}

.small-gap {
    /* border: 2px solid; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #5c5a5aba;
    align-items: end;
}

.email-heading {
    /* border: 2px solid cadetblue; */
    height: 7%;
    width: 100%;
    padding-left: 5%;
}

.email-pass-cnt {
    /* border: 2px solid yellow; */
    height: 26%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sumbit-font {
    height: 80%;
    width: 45%;
    border-radius: 22px;
}

.empty-container {
    /* border: 2px solid #db435e; */
    height: 6%;
    width: 100%;
    box-sizing: border-box;
  /* background: #00000042; */
    background-image: url("../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-color: currentcolor;
    color: #0b0e12d1;



    /* Set the background image to cover the entire area */
      
}

.overall-percent-signup {
    height: 100%;
    width: 100%;
    /* border: 2px solid darkviolet; */
    box-sizing: border-box;
}

.signup-title {
    /* border: 2px solid rebeccapurple; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg);
    background-size: cover;
    /* Set the background image to cover the entire area */
}

.signup-content {
    /* border: 2px solid rebeccapurple; */
    height: 71%;
    /* Adjust the height as needed */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg);
    background-size: cover;
    /* Set the background image to cover the entire area */
}

.signup-box {
    border: 2px solid;
    height: 80%;
    width: 40%;
    border-radius: 14%;
    background: #00827a63;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-bar {
    background-color: #47035a;
    color: white;
    height: 100%;
    width: 100%;
}

.search-bar::placeholder {
    color: white;
}

.title-profile {
    /* border: 2px solid blueviolet; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-name {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-email {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-gender {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.title-relation {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-calender {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-month {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-nakshathra {
    /* border: 2px solid firebrick; */
    height: 11%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.title-signup-btn {
    /* border: 2px solid firebrick; */
    height: 14%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;
}

.key-title {
    /* border: 2px solid grey; */
    height: 100%;
    width: 30%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value-input {
    /* border: 2px solid grey; */
    height: 100%;
    width: 70%;
}

.singup-input-box {
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    border-radius: 25px;
}

.signup-btn-style {
    height: 80%;
    width: 45%;
    border-radius: 22px;
}

.janmadinam-lines {
    border: 2px solid darkolivegreen;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-center {
    text-indent: 16%;
    font-size: medium;

}

.letters-color {
    color: cornsilk;
    font-family: cursive;
    font-size: medium;
}

.letters-color-header {
    /* color: white; */
    font-size: xx-large;
    font-family: ui-monospace;
    color: rgb(177, 227, 234);
}

.letters-color-subhead {
    color: rgb(130, 140, 193);
    font-family: ui-monospace;
    font-size: larger;
}
.letters-color-subhead1{
    color: cornsilk;
    font-family: cursive;
    font-size: large;
}
.letters-color-test{
    color: cornsilk;
    font-family:serif;
    font-size:xx-large;
}


.letters-color-acc {
    color: cornsilk;
    font-family: inherit;
    font-size: x-large;
}

.acc-ajst {
    padding-left: 20px;
}

/*Pop Up Sign IN  */

.error-text {
    color: red;
    font-size: smaller;
}

.container-header {
    /* border: 2px solid #db435e; */
    /* position: sticky;
    top: 0;
    z-index: 1000; */
    height: 4%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0b0e12d1;

}

.login-out {
    /* border: 2px solid yellowgreen; */
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    padding-top: 13px;
}

.wordpress {
    /* border: 2px solid yellowgreen; */
    height: 100%;
    width: 25%;
    padding-left: 3px;
    padding-top: 6px;
}

.headers {
    /* border: 2px solid yellowgreen; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.empty-container-footer {
    /* border: 2px solid #db435e; */
    height: 9%;
    width: 100%;
    box-sizing: border-box;
    /* background: black; */
    background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: currentcolor;
    color: #0b0e12d1;
    /* Set the background image to cover the entire area */
}

.footer-link {
    /* border: 2px solid palegoldenrod; */
    height: 45px;
    display: flex;
    justify-content: space-around;
}

.footer-copyright {
    /* border: 2px solid palegoldenrod; */
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.copyright-style {
    color: darkgrey;
    font-family: cursive;
    font-size: small;
}

.center-container {
    /* border: 2px solid #db435e; */
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
    background-color: black;
    color: white;
    background-image: url("../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg");
    background-size: 31%;
    background-blend-mode: overlay;
    background-color:#000000a1 ;
}

button:disabled {
    background-color: #def8ff;
    color: gray;
}

.login-sub-button:disabled {
    background-color: #343333;
    color: gray;
    height: 36px;
    width: 77%;
}

.login-sub-button:enabled {
    /* background-color: rgb(0, 255, 247); */
    /* background-color: rgb(241 141 141); */
    background-color: #3ec9c1;
    color: black;
    height: 36px;
    width: 77%;
}

.signup-home {
    height: 30px;
}

button:enabled {
    /* background-color: rgb(0, 255, 247); */
    /* background-color: rgb(241 141 141); */
    background-color: #92daffb0;
    color: black;
}

.admin-header {
    border: 2px solid black;
    height: 10%;
    width: 100%;
}

.admin-body {
    border: 2px solid black;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    border: 2px solid darkseagreen;
    height: 100%;
    width: 20%;
}

.sidebar-content {
    border: 2px solid darkseagreen;
    height: 100%;
    width: 80%;
}

.overflow {
    border: 2px solid burlywood;
    height: 63%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 45%;
}

#customers td,
#customers th {
    border: 1px solid #151010;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f0efef;
}

#customers tr {
    background-color: #e6dbe7;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #47035a;
    color: white;
}

.home-container {
    /* border: 2px solid #db435e; */
    height: 73%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.home-cnt-body {
    /* border: 2px solid blue; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.seasrch-bar {
    /* border: 2px solid gray; */
    height: 5%;
    width: 100%;
}

.table-float {
    /* border: 2px solid yellow; */
    height: 93%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: black;
    background-image: url(../images/bigstock-Colourful-Night-Starry-Sky-In--478153429.jpg);
    background-size: cover;
    /* Set the background image to cover the entire area */
}

.table-add {
    /* border: 2px solid yellow; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #01172df2;
    padding-right: 45%;

}

.table-outline {
    border: 2px solid red;
    border-collapse: collapse;
}

.table-heading {
    background-color: #f44336;
    color: white;
}

.link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 200;
}

.hightlight-link {
    color: rgb(0, 255, 247);
    text-shadow: 5px 10px 9px #e0fff3;
}

.modal-header {
    height: 20px;
    background-color: #071935f5;
}

.modal-body {
    /* width: 100px; */
    background-color: #071935f5;
}

.modal-footer {
    background-color: #071935f5;
}

.modal-title {
    color: white;
}

.modal-dialog {
    /* transform: none; */
    height: 317px;
    width: 276px;
    /* border: 2px solid pink; */
}

.click-here:hover {
    color: #f65858;
}

/* Parallax.css */


.parallax-container {
    /* position: relative; */
    overflow: hidden;
    height: 490px;
}

.parallax-background {
    /* position: absolute; */
    top: 13px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Final\ image.jpg");
    /* Replace with your background image URL */
    /* background-size: contain; */
    background-size: 80% 100%; /* Use the actual width value */

    background-position: center;
    opacity: 0.8;
    /* Increased opacity for a more subtle effect */
    transform: translateZ(-1px) scale(1.5);
    /* Add a slight zoom-in effect */
    transition: transform 0.2s ease-out;
    /* Add smooth transition for the parallax effect */
}

.parallax-container:hover .parallax-background {
    transform: translateZ(-1px) scale(1.4);
    /* Zoom-in more on hover for a dynamic effect */
}

.parallax-content {
    /* position: relative; */
    z-index: 1;
    text-align: center;
    padding: 126px;
    color: white;
    font-size: 24px;
    transform: translateY(50px);
    /* Move the content down initially */
    transition: transform 0.5s ease-out;
    /* Add smooth transition for the content animation */
}

.parallax-container:hover .parallax-content {
    transform: translateY(0);
    /* Move the content up on hover to its original position */
}

/* Add parallax effect to the text */
.parallax-container:hover .parallax-content h1 {
    transform: translateX(-10px);
    /* Slight horizontal movement */
}

.parallax-container:hover .parallax-content p {
    transform: translateX(10px);
    /* Slight horizontal movement */
}



  
/* Montserrat Font */
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

.testimonial6 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
  /* Add any other styling for the main container if needed */
}

.testimonial6 h1,
.testimonial6 h2,
.testimonial6 h3,
.testimonial6 h4,
.testimonial6 h5,
.testimonial6 h6 {
  color: #3e4555;
}

.testimonial6 .font-weight-medium {
  font-weight: 500;
}

.testimonial6 h5 {
  line-height: 22px;
  font-size: 18px;
}

.testimonial6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 16px;
}

.testimonial6 .testi6 {
  border-right: 1px solid rgba(120, 130, 140, 0.13);
}

.testimonial6 .testi6 .nav-link {
  border-radius: 0px;
  margin: 8px -2px 8px 0;
}

.testimonial6 .testi6 .nav-link img {
  width: 70px;
  opacity: 0.5;
}

.testimonial6 .testi6 .nav-link.active {
  background: transparent;
  color: #8d97ad;
  border-right: 3px solid #2cdd9b;
}

.testimonial6 .testi6 .nav-link.active img {
  opacity: 1;
}

.testimonial6 .btn-danger {
  background: #ff4d7e !important;
  border: 1px solid #ff4d7e !important;
}

.testimonial6 .btn-md {
  padding: 18px 0px;
  width: 60px;
  height: 60px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .testimonial6 .testi6 .nav-link {
    margin: 0px 0px -2px 0;
    padding: 10px;
  }
  .testimonial6 .testi6 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    border-right: 0px solid rgba(120, 130, 140, 0.13);
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    margin-bottom: 40px;
  }
  .testimonial6 .testi6 .nav-link img {
    width: 40px;
  }
  .testimonial6 .testi6 .nav-link.active {
    border-right: 0px solid #2cdd9b;
    border-bottom: 3px solid #2cdd9b;
  }
}

.hidden {
    display: none;
}

.headroom {
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
  }
/*  #02162f */


.popup-container {
    text-align: center;
    /* margin-top: 100px; */
  }
  
  .open-btn {
    padding: 10px 20px;
    /* background-color: #007bff; */
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
  }
  
  .popup {
    position: absolute;
    top: 95%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust the z-index as needed */
    transition: transform 0.9s ease; /* Add smooth animation */
  }
  
  .popup-content {
    height: 67%;
    width: 44%;
    background-color:  #025661;
    border: 2px solid beige;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    height: 38px;
    width: 80px;
  }

  .error{
    font-family: auto;
    background-color: blanchedalmond;
}

.error-align{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
  
.about-align{

}
